<nav class="navbar navbar-expand-lg navbar-light app-menu" style="background-color: #e6f5c9">
    <div class="container-fluid ">

        <a class="navbar-brand" href="/home"> <img src="logo_nav.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span class="pl-2" style="color:#1c6b5b">| Expirare</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/food" data-toggle="tooltip" data-placement="bottom" title="Food in Stock">
                        <i class="material-icons" style="color:#1c6b5b">kitchen</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recipes" data-toggle="tooltip" data-placement="bottom" title="Your Recipes">
                        <i class="material-icons" style="color:#1c6b5b">menu_book</i>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/profile" data-toggle="tooltip" data-placement="bottom" title="My Profile">
                        <i class="material-icons" style="color:#1c6b5b">account_circle</i>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>