<% layout('layout/boilerplate') %>
    <h1 class="ms-3"> Create a custom recipe here!</h1>
    <form action="/recipe" method="POST">
        <div class="form-group ms-3 me-3">
            <label for="recipeTitle">Recipe Name:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name of Recipe" name="title">
        </div>
        <div>
            <label for="ingredientList">Add Ingredients</label>
            <input type="text" id="ingredientList" placeholder="Add your ingredients here!">
            <button id="addIngredientBtn">Add Ingredient</button>
        </div>
        <div class="form-group ms-3 me-3">
            <label for="procedureRecipe">Steps: </label>
            <textarea class="form-control" id="procedureRecipe" rows="3" name="procedure"></textarea>
        </div>
        <button type="submit" class="btn btn-primary ms-3 mt-3 ">Submit</button>
    </form>

    let myTempIngredientList = []; const myAddBtn = document.querySelector('#addIngredientsBtn'); myAddBtn.addEventListener('click', ()=>{ let myTempIngredient = document.QuerySelector('#ingredientList').innerText; myTempIngredientList.push() })