<% layout('layout/boilerplate') %>
    <div class="row justify-content-md-center align-items-center">
        <div class=" px-3 py-3 flex-fill row justify-content-md-center align-items-center ">
            <div class="col-md-auto ">
                <a href="/recipes/new " class="btn btn-outline-success ms-2 " style="border-radius: 2em;">
                    New Recipe
                </a>
            </div>
        </div>
        <% for(let i=0; i < list.length; i++) { %>
            <div class="col-auto mr-auto page-view ">
                <div class="content ">
                    <div class="recipes">
                        <div class="card text-center " style="width: 18rem; background-color: #f5f5f5; padding: 1.5em .5em .5em; border-radius: 2em; margin-top: 1.5em;">
                            <div class="card-body ">
                                <h5 class="card-title ">
                                    <%= list[i].title %>
                                </h5>
                                <p class="card-text mb-2" style="color:#73ada2">
                                    <%= list[i].ingredients %>
                                </p>
                                <a href="/recipes/<%=list[i]._id %>" class="card-link btn btn-outline-success ms-2" role="button" style="border-radius: 2em;">
                                    View Recipe
                                </a>
                                <form action="/recipes/<%=list[i]._id %>?_method=DELETE" method="POST" class="d-inline">
                                    <button class="btn btn-outline-danger ms-2" style="border-radius: 2em;">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </div>