<% layout('layout/boilerplate') %>
    <div class="px-3 py-4 container-fluid d-flex justify-content-center">
        <div>
            <h3 class="ms-3">Show us your recipe</h3>
            <form action="/recipes" method="POST">
                <div class="form-group ms-3 me-3" style="margin: 1em;">
                    <label for="name-recipe " style="padding-bottom:0.5em;">Recipe Name</label>
                    <input type=" text " class="form-control " id="name-recipe " placeholder="Enter your recipe 's name" name="title" style="padding:1em; border-radius: 2em; " />
                </div>
                <div class="form-group ms-3 me-3" style="margin: 1em;">
                    <label for="ingredient-list" style="padding-bottom:0.5em;">Add Ingredients</label>
                    <textarea class="form-control" id="ingredient-list" placeholder="Write down the ingredients seperated by a comma" rows="2" name="ingredients" style="padding:1em; border-radius: 2em; "></textarea>
                </div>
                <div class="form-group ms-3 me-3 " style="margin: 1em;">
                    <label for="procedure-recipe" style="padding-bottom:0.5em;">Step By Step </label>
                    <textarea class="form-control" id="procedure-recipe" placeholder="Write down the steps to your recipe" rows="3" name="procedure" style="padding:1em; border-radius: 2em; "></textarea>
                </div>
                <button type="submit" class="btn btn-outline-success ms-3 mt-3" style="margin: 1em; border-radius: 2em; ">Submit</button>
            </form>
        </div>
    </div>