<% layout('layout/boilerplate') %>
    <div class="px-3 py-4 container-fluid d-flex justify-content-center">
        <div>
            <h3 class="ms-3">Show us your recipe</h3>
            <form action="/recipes" method="POST">
                <div class="form-group ms-3 me-3">
                    <label for="name-recipe">Recipe Name</label>
                    <input type="text" class="form-control" id="name-recipe" placeholder="Enter your recipe's name" name="title" />
                </div>
                <div class="form-group ms-3 me-3">
                    <label for="ingredient-list">Add Ingredients</label>
                    <input type="text" id="ingredient-list" placeholder="Add your ingredients (separate with a comma)" name="ingredients" />
                </div>
                <div class="form-group ms-3 me-3">
                    <label for="procedure-recipe">Step By Step </label>
                    <textarea class="form-control" id="procedure-recipe" rows="3" name="procedure"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-success ms-3 mt-3">Submit</button>
            </form>
        </div>
    </div>