<% layout('layout/boilerplate') %>
    <div class="row px-3 py-4" style="width:100%;">
        <div class=" col-6 offset-3">
            <div class="card mb-3" style="background-color: #f5f5f5; padding: 1.5em .5em .5em; border-radius: 2em;">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= recipe.title %>
                    </h5>
                    <p class="card-text" style="color:#73ada2">
                        <%= recipe.ingredients %>
                    </p>
                </div>
                <ul class="list-group list-group-flush" style="padding: 1.5em .5em .5em; border-radius: 2em;">
                    <li class="list-group-item">
                        <%= recipe.procedure %>
                    </li>
                </ul>
            </div>
        </div>
    </div>